.compendiumcard.trainingcard {
  --trainingcard-space-112: 112px;
  --trainingcard-space-242: 242px;

  display: flex;
  flex-direction: column;
  gap: var(--agt-spacing-24);

  @media screen and (width >=768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  font: var(--agt-typography-body-lg-regular);

  .pub-header {
    a {
      padding: 0;
    }
  }

  .pub-subtitle {
    padding: var(--agt-spacing-md) var(--agt-spacing-20) 0 0;
  }

  .product-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--agt-spacing-8);
    width: 100%;

    @media screen and (width >=768px) {
      gap: var(--agt-spacing-24);
      align-items: center;
      width: var(--trainingcard-space-112);
    }

    @media screen and (width > 1024px) {
      min-width: var(--trainingcard-space-242);
    }

    button {
      min-width: var(--agt-minmax-240);

      @media screen and (width >768px) {
        min-width: var(--trainingcard-space-112);
      }

      @media screen and (width >1024px) {
        min-width: var(--trainingcard-space-242);
      }
    }

    button.quantity-btn {
      min-width: var(--agt-spacing-6xl);

      @media screen and (width >1024px) {
        min-width: var(--agt-spacing-80);
      }
    
    }

    button.add-to-cart-btn.disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    .price {
      font: var(--agt-typography-heading-md-bold);

      .cents {
        font-size: var(--agt-font-size-16);
      }
    }
  }

  button .check-icon {
  display: inline-flex;
    align-items: center;
  }

button .check-icon.hidden {
    display: none;
  }
}