.loader-container.search-results__loading {
    align-items: center;
    padding-top: 0;
    z-index: 111;
}

.search-results__items,
.search-results__filters-wrapper {
    position: relative;
    min-height: 500px;
    min-width: 320px;
}

.search-results__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--agt-background-bg-base-primary);
    z-index: 1;
}

.spinner {
    border: 6px solid var(--agt-background-bg-brand);
    border-top: 6px solid transparent;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    animation: spin 1s linear infinite;
}

.spinner--small {
    border-width: 3px;
    width: 24px;
    height: 24px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.search-results__loading:empty {
  display: none;
}

@media screen and (width <= 1024px) {
  .search-results__filters-wrapper.search-results__loading-wrapper {
    display: none;
  }

  .search-results__items,
  .search-results__filters-wrapper {
    min-height: 700px;
  }
}
