.service__content {
    display: flex;
    flex-direction: column;
}

.service__cards img {
    width: auto;
    height: auto;
    max-width: 80px;
    aspect-ratio: 1/1;
}

.service__content.service__image-wrapper {
    position: relative;
    margin-bottom: var(--agt-spacing-20);
    display: flex;
    flex-direction: column;
}

.service__image-wrapper .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service__button-wrapper .play:hover {
    background-color: var(--agt-background-bg-base-white);
}

.service__content.service__image-wrapper img,
.service__content.service__image-wrapper video {
    height: 516px;
    width: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 16 / 9;
}

.service__content.service__image-wrapper blockquote {
    position: absolute;
    background-color: var(--agt-background-bg-base-white);
    bottom: var(--agt-spacing-24);
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 var(--agt-spacing-16);
    color: var(--agt-text-icons-tx-brand-main);
    font-size: var(--agt-font-size-24);
    font-family: var(--agt-font-family-roboto);
    line-height: var(--agt-line-height-30);
    font-weight: var(--agt-font-weight-light);
    padding: var(--agt-spacing-16);
}

.left .service__content.service__image-wrapper blockquote {
    text-align: left;
}

.service__find-resource-wrapper {
    background-color: var(--agt-color-grey-100);
    padding: var(--agt-spacing-24) var(--agt-spacing-16);
    margin-bottom: var(--agt-spacing-32);
    position: relative;
}

.service__find-resource-wrapper h3 {
    font-size: var(--agt-font-size-20);
    line-height: var(--agt-line-height-26);
}

.service__find-resource-wrapper p {
    color: var(--agt-color-grey-1500);
    font-size: var(--agt-font-size-16);
    line-height: var(--agt-line-height-22);
    padding-top: var(--agt-spacing-12);
    padding-bottom: var(--agt-spacing-24);
}

.service__find-resource-wrapper form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--agt-spacing-20);
}

.service__find-resource-wrapper form .agt-button {
    padding: var(--agt-spacing-14) var(--agt-spacing-4);
}

.service__find-resource-wrapper .agt-form__container {
    background-color: var(--agt-background-bg-base-white);
}

.service__cards {
    border-bottom: 1px solid var(--agt-color-grey-700);
    margin-bottom: var(--agt-spacing-12);
}

.service__cards:last-child {
    border-bottom: none;
    margin-bottom: var(--agt-spacing-0);
}

.service__cards h3 {
    font-size: var(--agt-font-size-20);
    line-height: var(--agt-line-height-26);
    margin-top: var(--agt-spacing-20);
}

.service__cards ul {
    padding-top: var(--agt-spacing-12);
    padding-bottom: var(--agt-font-size-20);
}

.service__cards ul li a {
    padding: var(--agt-spacing-8) var(--agt-spacing-12);
    color: var(--agt-color-brand-blue-1600);
    display: inline-flex;
    align-items: center;
    font-size: var(--agt-font-size-16);
    line-height: var(--agt-line-height-22);
    font-weight: var(--agt-font-weight-regular);
    width: 100%;
}

.service__cards ul li .icon-qr-code {
    background-color: var(--agt-color-brand-blue-1600);
    margin-right: auto;
    cursor: pointer;
    flex: 0 0 auto;
    display: none;
    border: 3px solid var(--agt-color-brand-blue-1600);
    border-radius: var(--agt-border-radius-4);
}

.service__cards ul li picture .service__cards ul li a .icon {
    justify-content: space-between;
    align-items: center;
}

.button-container.hidden.service__button-wrapper {
    display: none;
}

.button-container.service__button-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.icon.icon-chevron-right {
    margin-left: auto;
    color: var(--agt-color-brand-blue-1600);
}

blockquote > p:last-child {
    font-size: var(--agt-font-size-24);
    line-height: var(--agt-line-height-30);
    font-weight: var(--agt-font-weight-medium);
    margin-top: var(--agt-spacing-10);

    @media (width > 1024px) {
        text-align:center;
    }
}

.service__content.service__image-wrapper blockquote:has(+ p.video-block--ready) {
    display: none;
}

@media (width >= 768px) {
    .service__content.service__image-wrapper img,
    .service__content.service__image-wrapper video {
        height: auto;
    }

    .service__find-resource-wrapper {
        grid-template-columns: 100% 1fr;
        grid-template-rows: auto;
        margin-bottom: var(--agt-spacing-24);
        padding: var(--agt-font-size-24) var(--agt-spacing-48);
    }

    .service__content.service__image-wrapper blockquote {
        margin: 0 68px;
    }

    .services__form select {
        width: 444px;
        margin-right: var(--agt-spacing-24);
        padding: var(--agt-spacing-12) 0;
    }

    .service__find-resource-wrapper form {
        grid-template-columns: 1fr 140px;
        gap: var(--agt-spacing-24);
    }

    .service__find-resource-wrapper h3 {
        font-size: var(--agt-font-size-26);
        line-height: var(--agt-line-height-24);
    }

    .service__find-resource-wrapper p {
        font-size: var(--agt-font-size-18);
        line-height: var(--agt-line-height-24);
    }

    .service__cards ul li a {
        align-items: center;
        color: var(--agt-color-brand-blue-1600);
        font-size: var(--agt-font-size-18);
        line-height: var(--agt-line-height-24);
        word-break: break-all;
    }

    .service__cards ul li .icon-qr-code {
        display: inline-flex;
    }

    .service__find-resource-wrapper .service__button-wrapper a {
        min-width: 140px;
        padding: var(--agt-spacing-10) var(--agt-spacing-16);
    }

    .service__cards {
        display: grid;
        grid-template-columns: 100px 2fr;
        grid-template-rows: 1fr;
    }

    .service__image-wrapper {
        grid-column: 1;
        grid-row: 1;
    }

    .service__cards h3 {
        grid-column: 2/3;
        grid-row: 1;
        font-size: var(--agt-font-size-22);
        line-height: var(--agt-line-height-28);
        padding-bottom: var(--agt-spacing-8);
        margin-top: var(--agt-spacing-0);
    }

    .service__cards ul {
        grid-column: 2/3;
        grid-row: 1;
        margin-top: var(--agt-font-size-24);
    }
        
    .qr-picture-wrapper{
        position: relative;
    }

    .qr-img {
        position: absolute;
        width: var(--agt-minmax-90);
        transform: translateX(-30%);
        border-radius: var(--agt-roundness-main);
        background: #fff;
        box-shadow: 0 var(--agt-spacing-4) var(--agt-spacing-8) rgb(0 0 0 / 20%);
        padding: var(--agt-spacing-xs-px);
        line-height: 0;
    }
}

@media (width >= 1440px) {
    .service__find-resource-wrapper form {
        grid-template-columns: 1fr 140px;
    }

    .service__cards ul li a:hover {
        color: var(--agt-color-grey-1500);
    }

    .service__cards ul li a .icon:not(.icon-chevron-right) {
        margin-left: var(--agt-spacing-8);
    }

    .service__content {
        justify-content: space-evenly;
    }

    .qr-img {
        transform: translateX(-25%);
    }
}

@media (width > 1024px) {
    .service__content.service__image-wrapper img,
    .service__content.service__image-wrapper video {
        height: auto;
        aspect-ratio: 16/9;
    }

    .services-and-support.block {
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        grid-template-rows: auto auto;
        gap: var(--agt-spacing-32);
        max-width: 100%;
        margin: auto;
    }

    .service__image-wrapper {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        position: relative;
    }

    .service__content.service__image-wrapper {
        margin-bottom: var(--agt-spacing-0);
    }

    .service__find-resource-wrapper {
        grid-column: 1 / 2;
        grid-row: 2;
        position: initial;
        padding: var(--agt-font-size-24) var(--agt-spacing-64);
        margin-bottom: var(--agt-spacing-0);
    }

    .service__cards-wrapper {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    .service__cards {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 100px 1fr;
        align-items: start;
        border-bottom: 1px solid var(--agt-color-grey-700);
        padding: var(--agt-spacing-10) var(--agt-spacing-0);
        margin-bottom: var(--agt-spacing-0);
    }

    .service__cards:last-child {
        border-bottom: none;
    }

    .service__cards h3 {
        grid-column: 2/ 3;
        grid-row: 1 / 2;
        font-size: var(--agt-font-size-28);
        line-height: var(--agt-line-height-36);
    }

    .service__cards ul {
        grid-column: 2/ 3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 24px;
        padding-bottom: var(--agt-spacing-10);
    }
}
