.columns-tile {
  --columns-tile-link-color: var(--agt-color-brand-blue-1600);
  --columns-tile-font-size: var(--agt-font-size-18);
  --columns-tile-spacing-gap: 2.063rem;
  --columns-tile-margin-spacing: 0.813rem;
}

.columns.columns-tile.block {
  display: flex;
  align-items: stretch;
  overflow: auto;
}

.columns.columns-tile.block > div {
  display: flex;
  flex-direction: row;
  gap: var(--agt-spacing-sm);
  align-items: stretch;
  flex: 0 0 auto;
}

.columns.columns-tile.block > div p {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-wrap: break-word;
  margin: var(--agt-spacing-none);
  font-size: var(--agt-typography-body-xl-regular);
}

.columns.columns-tile.block > div > div p.columns-cta {
  flex-direction: column-reverse;
  padding: var(--agt-spacing-none);
  line-height: var(--agt-spacing-none);
}

.columns.columns-tile.block > div > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  transition: transform 1s ease;
}

.columns-tile.block > div > div:hover {
  background-color: var(--agt-background-bg-base-primary);
  border-radius: var(--agt-roundness-main);
  transform: scale(1.02);
}

.columns.columns-tile.block > div p a {
  color: var(--columns-tile-link-color);
  padding: var(--agt-spacing-none);
  text-decoration: none;
}

.columns.columns-tile.block > div > div p a span.text-link {
  display: flex;
  min-height: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.columns.columns-tile.block > div > div p a {
  width: 100%;
  height: 100%;
  color: var(--agt-color-grey-1600);
  justify-content: flex-start;
  font-weight: var(--agt-font-weight-regular);
  font-size: var(--columns-tile-font-size);
  padding: var(--agt-spacing-18) var(--agt-spacing-18) var(--agt-spacing-36) var(--agt-spacing-18);
  text-align: center;
  gap: var(--agt-spacing-none);
  line-height: var(--agt-line-height-24);
}

.columns.columns-tile.block > div > div p a:focus-visible {
  background-color: var(--agt-background-bg-base-primary);
  border-color: var(--agt-color-base-black);
}

.columns.columns-tile.block > div p span.icon {
  width: auto;
  height: 100%;
}

.columns.columns-tile.block > div > div.columns-tile-cta p {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 auto;
  padding: var(--agt-spacing-none);
}

.columns.columns-tile.block > div > div.columns-tile-cta p a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-decoration: none;
  justify-content: start;
  padding: var(--agt-spacing-18) var(--agt-spacing-18) var(--agt-spacing-36) var(--agt-spacing-18);
  margin: var(--agt-spacing-3xs) 0 0;
  color: var(--agt-color-grey-2000);
  font-size: var(--columns-tile-font-size);
  font-weight: var(--agt-font-weight-regular);
  gap: var(--columns-tile-spacing-gap);
}

.columns.columns-tile.block > div > div.columns-tile-cta .icon {
  color: #fff;
}

.columns.columns-tile.block > div > div.columns-tile-cta p a span {
  width: unset;
  height: unset;
  background-color: var(--columns-tile-link-color);
  border-radius: var(--agt-roundness-full);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--agt-spacing-14);
  margin: var(--columns-tile-margin-spacing);
}

.columns-tile.block img {
  width: 5rem;
  height: auto;
}

.columns.columns-tile.block picture img {
  vertical-align: top;
}

.columns.columns-tile.block > div > div.columns-tile-cta p a span img {
  width: 14px;
  height: 14px;
  aspect-ratio: unset;
}

.columns-tile-cta .section__link .icon-qr-code, .columns-tile-cta .section__link p.section__link--picture, .columns.columns-tile.block > div > div.columns-tile-cta p.section__link--picture-wrapper {
  display: none;
}

@media (width >= 768px) {
  .columns.columns-tile.block {
    flex-direction: column;
    gap: var(--agt-spacing-20);
    overflow: hidden;
  }

  .columns.columns-tile.block > div {
    justify-content: space-between;
    gap: var(--agt-spacing-20);
  }
}

@media (width >= 1392px) {
  .columns.columns-tile.block {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--agt-spacing-3xl);
    align-items: stretch;
  }

  .columns.columns-tile.block > div {
    display: contents;
  }

  .columns.columns-tile.block > div > div.columns-img-col {
    flex: 1 1 0;
    min-width: 0;
  }

  .columns.columns-tile.block > div:last-child > div:last-child {
    display: none;
  }
}