.col-grid {
  --col-grid-spacing-items: var(--agt-spacing-8);
  --col-grid-item-font-size: var(--agt-font-size-14);
  --col-grid-item-line-height: var(--agt-spacing-20);
  --col-grid-item-aspect-ratio: 4/3;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-gap: var(--col-grid-spacing-items);
}

.columns > div {
    display: flex;
    flex-direction: column;
}

.columns > div > div {
    order: 1;
}

.col-grid > div > div {
  display: flex;
  align-items: center;
}

.columns.col-grid > div {
  display: contents;
  text-align: center;
}

.columns.columns-align-top > div {
  align-items: flex-start;
}

.col-grid > div > div:hover {
    background-color: var(--agt-color-grey-100);
    border-radius: var(--agt-roundness-main);
}

.col-grid > div > div p {
  width: 100%;
  height: 100%;
  color: var(--agt-color-grey-1500);
}

.col-grid > div > div p picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-grid > div > div p img {
  aspect-ratio: var(--col-grid-item-aspect-ratio);
  object-fit: contain;
  width: 60%;
}

.col-grid > div > div p a {
  font-size: var(--col-grid-item-font-size);
  font-weight: var(--agt-font-weight-regular);
  line-height: var(--col-grid-item-line-height);
  color: var(--agt-color-grey-2000);
  width: 100%;
  height: 100%;
  justify-content: center;
  text-decoration: none;
}

.col-grid > div > div p a:focus-visible {
  outline: 2px solid var(--agt-color-base-black);
  background-color: var(--agt-background-bg-base-primary);
  border: none;
}

.col-grid > div > div p a.agt-link.image-link:hover {
  text-decoration: none;
  color: var(--agt-color-grey-2000);
}

/* stylelint-disable-next-line no-descending-specificity */
.columns img {
    width: 100%;
}

.columns > div > .columns-img-col {
    order: 0;
}

.columns > div > .columns-img-col img {
    display: block;
}

.columns.col-rows {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    > * {
        display: contents;
    }

    .columns-img-col {
        max-width: 157px;
        justify-content: center;
        display: flex;
    }

    .columns-img-col .agt-link {
        text-align: center;
    }
}

@media (width > 1024px) {
    .columns > div {
        align-items: center;
        flex-direction: unset;
        gap: 24px;
    }

    .columns > div > div {
        flex: 1;
        order: unset;
    }

    .columns.top > div {
        align-items: start;
    }

    .columns.bottom > div {
        align-items: end;
    }

    .columns.col-rows {
        gap: 24px;

        .columns-img-col {
            max-width: unset;
            min-width: calc((100% - 4 * 24px) / 5);
        }
    }
}

.columns-wrapper:has(.column-carousel), .columns-wrapper:has(.col-grid) {
  display: flex;
  flex-direction: column;
}

.col-grid > .columns-cta-wrapper {
  display: flex;
}


.columns-cta-mobile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: var(--agt-spacing-20) auto var(--agt-spacing-0) auto;
  width: 60%;
}

.columns.columns-xs.block {
  display: flex;
  flex-direction: column;
  gap: var(--agt-spacing-4);
}

.columns.columns-xs.block > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--agt-spacing-20);
}

.columns.columns-xs.block > div > div {
  flex: 1 1 0;
  align-items: center;
  text-align: center;
}

.columns.columns-xs.block > div > div p {
  width: 100%;
  height: 100%;
  margin: var(--agt-spacing-none);
}

.columns.columns-xs.block > div > div p a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: var(--agt-font-size-12);
  font-weight: var(--agt-font-weight-regular);
  color: var(--agt-color-grey-1600);
  padding: var(--agt-spacing-none);
  border: none;
  gap: var(--agt-spacing-none);
  word-break: break-all;
}

.columns.columns-xs.block > div > div p a span.tile-content{
  padding: var(--agt-spacing-xs) var(--agt-spacing-none);
}

.columns.columns-xs.block > div > div p a:focus-visible {
  outline: 2px solid var(--agt-color-base-black);
  background-color: var(--agt-background-bg-base-primary);
  border: none;
}

.columns.columns-xs.block > div > div p span.icon {
  width: auto;
  height: 100%;
}

.columns.columns-xs.block img {
  width: 2.5rem;
  height: auto;
}

.columns.columns-xs.block ~ .columns-cta-clone {
  display: none;
}

@media (width >= 768px) {
  .col-grid {
    --col-grid-spacing-items: var(--agt-spacing-16);
    --col-grid-item-aspect-ratio: 27/23;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .col-grid > div > div p img {
    width: 100%;
  }

  .col-grid > div > div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .columns.col-grid > div {
    flex-direction: unset;
    text-align: center;
    gap: var(--col-grid-spacing-items);
    display: flex;
    align-items: stretch;
  }

  .columns.col-grid > div > div {
    flex: 1;
  }

  .columns.col-grid > div > div > p {
    margin: var(--agt-spacing-0);
  }

  .columns-cta-mobile{
    display: none;
  }

  .columns.columns-xs.block{
    display: none;
  }

  .columns-container:has(.columns-tile) .default-content-wrapper p:has(a) {
    display: none;
  }

  .col-grid > div > div p a {
    justify-content: flex-start;
  }
}

@media (width > 1024px) {
  .col-grid {
    --col-grid-spacing-items: var(--agt-spacing-24);
    --col-grid-item-font-size: var(--agt-font-size-18);
    --col-grid-item-line-height: var(--agt-spacing-24);
    --col-grid-item-aspect-ratio: 7/5;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .col-grid > div {
    align-items: baseline;
    text-align: center;
    display: flex
  }

  .col-grid > div > div > p {
    margin: var(--agt-spacing-0);
  }

  .col-grid > div > div p img {
    width: 60%;
  }

  .col-grid > div > div p a span.text-link {
    display: flex;
    min-height: 81px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (width >= 1392px) {
  .columns-container:has(.columns-tile) .default-content-wrapper p:has(a) {
    display: flex;
  }
}