.products-and-promotions-container .section__title {
    font-size: var(--agt-font-size-22);
    line-height: var(--agt-line-height-28);
}

.products-and-promotions {
    --pp-title-font-size: var(--agt-font-size-20);
    --pp-title-line-height: var(--agt-line-height-26);
    --info-content-spacing: var(--agt-spacing-8);
    --promo-card-row: auto auto;
    --promo-card-row-ivd: auto auto auto;
    --promo-card-column: auto auto;
    --promo-card-1: 1/3;
    --promo-card-2: 1/2;
    --promo-card-3: 2/3;
    --promo-card-4: 3/4;

    display: flex;
    flex-direction: column;
    gap: var(--agt-spacing-12);
}

.promo-card--view-more .agt-link {
    flex-direction: column;
    justify-content: center;
    gap: var(--agt-spacing-md-px);
    text-decoration: none;
}

.products-and-promotions .agt-button--secondary,
.products-and-promotions
    .agt-link:not(.agt-link--light, :has(span.icon-right-arrow)) {
    color: var(--agt-text-icons-tx-brand-main);
    border: dashed 1px var(--agt-stroke-str-brand-main);
    background-color: var(--agt-background-bg-base-white);
    padding: var(--agt-spacing-14) var(--agt-spacing-20);
}

.products-and-promotions .promo-card .button-container .agt-link {
    padding: 9px var(--agt-spacing-20);
    border-radius: var(--agt-roundness-main);
}

.page-china .products-and-promotions .button-container .agt-link:focus-visible {
    box-shadow: var(--agt-focused-primary);
}

.products-and-promotions h3 {
    font: var(--agt-font-weight-regular) var(--pp-title-font-size) /
        var(--pp-title-line-height) var(--agt-font-family-roboto);
    margin-bottom: var(--agt-spacing-4);
    line-height: var(--agt-line-height-24);
}

.feature-card__inner h3 {
    padding-top: var(--agt-spacing-lg-px);
    margin-bottom: 0;
}

.product-card,
.feature-card,
.promo-card {
    border-radius: var(--agt-roundness-main);
}

.product-card {
    background-color: var(--agt-background-bg-brand-main);
}

.feature-card {
    background-color: var(--agt-background-bg-brand-alt);
}

.product-card:has(a), .feature-card:has(a) {
    cursor: pointer;
}

.promo-card img {
    width: auto;
    min-height: 80px;
}

.promo-card > p:has(picture) {
    place-self: center;
}

.product-card__info,
.feature-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--agt-spacing-16);
    gap: var(--info-content-spacing);
    height: 100%;
}

.feature-card__content .button-container {
    margin-top: auto;
}

.product-card__info {
    justify-content: unset;
}

.product-card__info p.button-container {
    margin-top: auto;
}

.product-card__content,
.feature-card__inner {
    display: flex;
    flex-direction: column;
    gap: var(--agt-spacing-12);
}

.product-card__info .button-container span.icon-right-arrow {
    display: none;
}

.promo-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--agt-spacing-12);
}

.promo-card {
    background-color: var(--agt-background-bg-base-primary);
    padding: var(--agt-spacing-12);
    flex: 0 0 calc(50% - var(--agt-spacing-6));
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr;
    gap: var(--agt-spacing-12);
    cursor: pointer;
}

.promo-card--view-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.op-4 .promo-card:nth-child(3),
.op-5 .promo-card:nth-child(3),
.op-4 .promo-card--view-more,
.op-5 .promo-card--view-more {
    display: none;
}

.promo-card .button-container {
    margin-top: var(--agt-spacing-12);
    place-self: center;
    width: 100%;
}

.promo-card .button-container a {
    width: 100%;
    justify-content: center;
    font-size: var(--agt-font-size-12);
    line-height: var(--agt-line-height-18);
}

.product-card__info p.button-container a:focus-visible, 
.feature-card__content p.button-container a:focus-visible {
    border-color: var(--agt-stroke-str-white );
}

.button-container span.icon {
    width: 24px;
    height: 24px;
}

.page-china .products-and-promotions
    .promo-card--view-more
    a:has(span.icon-right-arrow) {
    flex-direction: column;
    gap: var(--agt-spacing-20);
}

.promo-card--view-more .icon {
    order: -1;
    width: var(--agt-spacing-52);
    height: var(--agt-spacing-52);
    border: 1px solid var(--agt-text-icons-tx-brand-main);
    border-radius: 100%;
}

.promo-card--view-more .icon img {
    width: 24px;
    min-height: 24px;
    height: auto;
}

.products-and-promotions-container:has(.op-4) .section__link,
.products-and-promotions-container:has(.op-5) .section__link {
    display: block;
}

@media (width < 768px) {
    .page-china .products-and-promotions-container {
        gap: var(--agt-spacing-12);
    }

    .page-china .products-and-promotions-container .section__header {
        padding-top: var(--agt-spacing-16);
    }

    span.icon.icon-qr-code {
        display: none;
    }

    .products-and-promotions .agt-button--secondary {
        padding: var(--agt-spacing-xs-px) var(--agt-spacing-md-px);
    }

    .products-and-promotions:not(.op-5) .product-card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        gap: 0;
        min-height: 200px;
    }

    .page-china .products-and-promotions-container .feature-card .button-container span.icon {
        width: 16px;
        height: 16px;
    }

    .page-china .promo-card--view-more {
        padding: 0;
        gap: 0;
    }

    .products-and-promotions:not(.op-5) .product-card__info {
        grid-column: 1/3;
        grid-row: var(--promo-card-2);
        padding: 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 1fr auto;
        gap: 0;
        height: 100%;
        min-height: 280px;
    }

    .products-and-promotions:not(.op-5) .product-card__info .responsive-media {
        grid-column: 2/3;
        grid-row: 1/4;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .products-and-promotions:not(.op-5) .product-card__info .responsive-media picture,
    .products-and-promotions:not(.op-5) .product-card__info .responsive-media picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9;
    }

    .products-and-promotions:not(.op-5) .product-card__info .product-card__content,
    .products-and-promotions:not(.op-5) .product-card__info .button-container {
        grid-column: var(--promo-card-2);
        grid-row: 1/4;
        padding: var(--agt-spacing-16);
        display: flex;
        flex-direction: column;
    }

    .products-and-promotions:not(.op-5) .product-card__info .product-card__content {
        flex: 1;
        grid-row: 2/3;
        align-self: start;
    }

    .products-and-promotions:not(.op-5) .product-card__info .button-container {
        margin-top: auto;
        grid-row: 3/4;
        align-self: end;
        padding-top: 0;
    }

    .products-and-promotions:not(.op-5) .product-card__responsive-media {
        display: none;
    }

    .products-and-promotions.op-5 .product-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        gap: 0;
        min-height: 200px;
    }

    .products-and-promotions.op-5 .product-card__info {
        grid-column: var(--promo-card-2);
        grid-row: 1/4;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        gap: 0;
        height: 100%;
        min-height: 280px;
    }

    .page-china .products-and-promotions:not(.op-5) .product-card__info {
        min-height: auto;
    }

    .products-and-promotions.op-5 .product-card__info .responsive-media {
        grid-column: var(--promo-card-2);
        grid-row: var(--promo-card-2);
        overflow: hidden;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .products-and-promotions.op-5 .product-card__info .responsive-media picture,
    .products-and-promotions.op-5 .product-card__info .responsive-media picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9;
    }

    .products-and-promotions.op-5 .product-card__info .product-card__content {
        grid-column: var(--promo-card-2);
        grid-row: 2/3;
        padding: var(--agt-spacing-16);
        display: flex;
        flex-direction: column;
        flex: 1;
        align-self: start;
    }

    .products-and-promotions.op-5 .product-card__info .button-container {
        grid-column: var(--promo-card-2);
        grid-row: 3/4;
        padding: 0 var(--agt-spacing-16) var(--agt-spacing-16);
        margin-top: auto;
        align-self: end;
        padding-top: 0;
    }
}

@media (width >= 768px) {
    .products-and-promotions-container .section__title {
        font-size: var(--agt-font-size-32);
        line-height: var(--agt-line-height-40);
    }

    .products-and-promotions h3 {
        font-size: var(--agt-font-size-24);
        line-height: var(--agt-line-height-28);
    }

    .products-and-promotions .product-card__content p,
    .products-and-promotions .feature-card__inner p {
        font-size: var(--agt-font-size-18);
    }

    .page-china .default-content-wrapper p.section__link {
        display: flex;
        align-items: center;
    }

    .page-china p.active {
        position: relative;
    }

    .promo-card .button-container a {
        font-size: var(--agt-font-size-16);
        line-height: var(--agt-line-height-22);
    }

    .products-and-promotions {
        --info-content-spacing: var(--agt-spacing-16);
    }

    .promo-card {
        flex: 0 0 100%;
        padding: var(--agt-spacing-32);
        display: grid;
        grid-template-rows: var(--promo-card-row);
        grid-template-columns: 9.375rem 1fr;
        align-items: center;
        column-gap: var(--agt-spacing-36);
    }

    .promo-card.icon-ivd {
        grid-template-rows: var(--promo-card-row-ivd);
    }

    .promo-card p:nth-child(3) {
        grid-row: var(--promo-card-3);
        grid-column: var(--promo-card-3);
    }

    .promo-card p:first-child{
        grid-row: var(--promo-card-1);
        grid-column: var(--promo-card-2);
    }

    .promo-card.icon-ivd p:first-child{
        grid-row: 1 / 4;
        grid-column: var(--promo-card-2);
    }

    .promo-card.icon-ivd p:nth-child(2){
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-3);
    }

    .promo-card.icon-ivd p:nth-child(3){
        grid-row: var(--promo-card-3);
        grid-column: var(--promo-card-3);
    }

    .promo-card.icon-ivd p.button-container{
        grid-row: var(--promo-card-4);
        grid-column: var(--promo-card-3);
    }

    .promo-card .button-container {
        margin-top: 0;
    }

    .promo-card.promo-card--view-more {
        display: none;
    }

    .promo-card img {
        width: 120px;
    }

    .products-and-promotions:not(.op-5) {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        gap: var(--agt-spacing-20);
    }

    .products-and-promotions:not(.op-5) .product-card {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .products-and-promotions:not(.op-5) .product-card__info {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
        padding: 0;
        display: grid;
        grid-template-rows: 120px 1fr auto;
        grid-template-columns: 1fr;
        gap: 0;
        height: 100%;
    }

    .products-and-promotions:not(.op-5) .product-card__info .responsive-media {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
        overflow: hidden;
    }

    .products-and-promotions:not(.op-5) .product-card__info .responsive-media picture,
    .products-and-promotions:not(.op-5) .product-card__info .responsive-media picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9;
        object-position: top;
    }

    .products-and-promotions:not(.op-5) .product-card__info .product-card__content {
        grid-row: 2/3;
        grid-column: var(--promo-card-2);
        padding: var(--agt-spacing-16);
        padding-bottom: var(--agt-spacing-8);
    }

    .products-and-promotions:not(.op-5) .product-card__info .button-container {
        grid-row: 3/4;
        grid-column: var(--promo-card-2);
        padding: 0 var(--agt-spacing-16) var(--agt-spacing-16);
    }

    .products-and-promotions:not(.op-5) .feature-card {
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
    }

    .products-and-promotions:not(.op-5) .promo-card-wrapper {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .products-and-promotions.op-5 .product-card {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .products-and-promotions.op-5 .product-card__info {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
        padding: 0;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        gap: 0;
        height: 100%;
    }

    .products-and-promotions.op-5 .product-card__info .responsive-media {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
        overflow: hidden;
        padding: 0;
    }

    .products-and-promotions.op-5 .product-card__info .responsive-media picture,
    .products-and-promotions.op-5 .product-card__info .responsive-media picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9;
        object-position: top;
    }

    .products-and-promotions.op-5 .product-card__info .product-card__content {
        grid-row: 2/3;
        grid-column: var(--promo-card-2);
        padding: var(--agt-spacing-16);
        padding-bottom: var(--agt-spacing-8);
    }

    .products-and-promotions.op-5 .product-card__info .button-container {
        grid-row: 3/4;
        grid-column: var(--promo-card-2);
        padding: 0 var(--agt-spacing-16) var(--agt-spacing-16);
    }

    .products-and-promotions.op-5 .feature-card {
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
    }

    .products-and-promotions.op-5 .promo-card-wrapper {
        grid-row: 2/3;
        grid-column: 1/3;
    }
}

@media (width >= 1440px) {
    .products-and-promotions-container .section__title {
        font-size: var(--agt-font-size-42);
        line-height: var(--agt-line-height-48);
    }

    .products-and-promotions,
    .products-and-promotions:not(.op-5) {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(4, 1fr);
        gap: var(--agt-spacing-20);
    }

    .product-card,
    .products-and-promotions:not(.op-5) .product-card {
        grid-row: 1/3;
        grid-column: 1/3;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .product-card .product-card__info,
    .products-and-promotions:not(.op-5) .product-card__info {
        grid-row: var(--promo-card-2);
        grid-column: 1/3;
        padding: 0;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        height: 100%;
    }

    .product-card .product-card__info .responsive-media,
    .products-and-promotions:not(.op-5) .product-card__info .responsive-media {
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
        overflow: hidden;
    }

    .op-2 .promo-card p:has(picture) a picture,
    .op-3 .promo-card p:has(picture) a picture,
    .op-4 .promo-card p:has(picture) a picture {
        width: 100%;
        height: 100%;
        display: block;
    }

    .op-2 .promo-card p:has(picture) img,
    .op-3 .promo-card p:has(picture) img,
    .op-4 .promo-card p:has(picture) img {
        width: 100%;
        height: 100%;
    }

    .promo-card p:has(picture) {
        text-align: center;
    }

    .promo-card p:nth-child(1) {
        grid-row: 1/3;
        grid-column: var(--promo-card-2);
    }

    .promo-card p:nth-child(2) {
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
    }

    .promo-card p:nth-child(3) {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .product-card .product-card__info .responsive-media picture,
    .products-and-promotions .product-card .product-card__info .responsive-media picture img,
    .products-and-promotions:not(.op-5) .product-card__info .responsive-media picture,
    .products-and-promotions:not(.op-5) .product-card__info .responsive-media picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-card .product-card__info > div:not(.responsive-media),
    .products-and-promotions:not(.op-5) .product-card__info > div:not(.responsive-media) {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
        padding: var(--agt-spacing-32);
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .product-card .product-card__info > .product-card__content,
    .products-and-promotions:not(.op-5) .product-card__info > .product-card__content {
        align-self: start;
        padding-top: var(--agt-spacing-32);
    }

    .promo-card .button-container {
        place-self: flex-start;
    }

    .promo-card.icon-ivd .button-container{
        grid-row: var(--promo-card-4);
        grid-column: var(--promo-card-3);
    }

    .product-card .product-card__info .button-container,
    .products-and-promotions:not(.op-5) .product-card__info .button-container {
        margin-top: auto;
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
        align-self: end;
        padding: 0 var(--agt-spacing-32) var(--agt-spacing-32);
    }

    .products-and-promotions .product-card .product-card__info > .button-container,
    .products-and-promotions:not(.op-5) .product-card__info > .button-container {
        align-self: end;
        padding: 0 var(--agt-spacing-32) var(--agt-spacing-32);
    }

    .products-and-promotions .product-card .product-card__info .product-card__content,
    .products-and-promotions:not(.op-5) .product-card__info .product-card__content {
        flex: 1;
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
    }

    .products-and-promotions:not(.op-5) .product-card__info {
        height: 100%;
        overflow: visible;
    }

    .feature-card,
    .products-and-promotions:not(.op-5) .feature-card {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .promo-card-wrapper,
    .products-and-promotions:not(.op-5) .promo-card-wrapper {
        grid-row: 1/4;
        grid-column: 3/5;
        display: grid;
        grid-template-rows: subgrid;
        grid-template-columns: 1fr;
        gap: var(--agt-spacing-20);
    }

    .products-and-promotions h3 {
        font-size: var(--agt-font-size-28);
        line-height: var(--agt-line-height-34);
    }

    .promo-card {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 150px 1fr;
    }

    .promo-card-wrapper .promo-card:nth-child(1) {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
    }

    .promo-card-wrapper .promo-card:nth-child(2) {
        grid-row: 2/3;
        grid-column: var(--promo-card-2);
    }

    .promo-card-wrapper .promo-card:nth-child(3) {
        grid-row: 3/4;
        grid-column: var(--promo-card-2);
    }

    .promo-card .button-container a {
        width: unset;
    }

    .button-container .agt-button--secondary {
        padding: var(--agt-spacing-xl-px) var(--agt-spacing-md-px);
    }

    .feature-card__content {
        padding-inline: var(--agt-spacing-32);
    }

    .op-2.products-and-promotions {
        grid-template-columns: repeat(4, 1fr);
    }

    .op-2.products-and-promotions .product-card {
        grid-row: var(--promo-card-2);
        grid-column: 1/3;
        min-height: 17.5rem;
    }

    .op-2.products-and-promotions .feature-card {
        grid-row: var(--promo-card-2);
        grid-column: 3/5;
    }

    .op-2.products-and-promotions .promo-card-wrapper {
        grid-row: 2/3;
        grid-column: 1/5;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--agt-spacing-20);
    }

    .op-2 .promo-card p:has(picture),
    .op-3 .promo-card p:has(picture),
    .op-4 .promo-card p:has(picture) {
        width: 187px;
        height: 145px;
    }

    .op-2 .promo-card p:has(picture) a,
    .op-3 .promo-card p:has(picture) a,
    .op-4 .promo-card p:has(picture) a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 0;
    }

    .op-2.products-and-promotions .promo-card-wrapper .promo-card:nth-child(1) {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
    }

    .op-2.products-and-promotions .promo-card-wrapper .promo-card:nth-child(2) {
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
    }

    .op-2.products-and-promotions .promo-card-wrapper .promo-card:nth-child(3) {
        grid-row: var(--promo-card-2);
        grid-column: 3/4;
    }

    .op-3.products-and-promotions,
    .op-4.products-and-promotions {
        grid-template-columns: repeat(3, 1fr);
    }

    .op-3.products-and-promotions .product-card,
    .op-4.products-and-promotions .product-card {
        grid-row: var(--promo-card-2);
        grid-column: 1/3;
    }

    .op-3.products-and-promotions .feature-card,
    .op-4.products-and-promotions .feature-card {
        grid-row: var(--promo-card-2);
        grid-column: 3/4;
    }

    .op-3.products-and-promotions .promo-card-wrapper,
    .op-4.products-and-promotions .promo-card-wrapper {
        grid-row: 2/3;
        grid-column: 1/4;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }

    .op-3.products-and-promotions .promo-card-wrapper .promo-card:nth-child(1),
    .op-4.products-and-promotions .promo-card-wrapper .promo-card:nth-child(1) {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
    }

    .op-3.products-and-promotions .promo-card-wrapper .promo-card:nth-child(2) {
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
    }

    .op-3.products-and-promotions .promo-card-wrapper .promo-card:nth-child(3) {
        grid-row: var(--promo-card-2);
        grid-column: 3/4;
    }

    .op-4.products-and-promotions .promo-card-wrapper .promo-card:nth-child(2) {
        grid-row: var(--promo-card-2);
        grid-column: 2/4;
    }

    .op-4.products-and-promotions
        .promo-card-wrapper
        .promo-card:not(:nth-child(1), :nth-child(2)),
    .op-5.products-and-promotions
        .promo-card-wrapper
        .promo-card:not(:nth-child(1), :nth-child(2)) {
        display: none;
    }

    .op-5.products-and-promotions {
        grid-template-columns: repeat(2, 1fr);
    }

    .op-5.products-and-promotions .product-card {
        grid-row: 1/3;
        grid-column: var(--promo-card-2);
        grid-template-rows: subgrid;
        grid-template-columns: 1fr;
        display: grid;
    }

    .op-5.products-and-promotions .product-card .product-card__info {
        grid-row: 1/3;
        grid-column: var(--promo-card-2);
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        gap: 0;
        padding: 0;
    }

    .op-5.products-and-promotions .product-card .product-card__info .responsive-media {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
        overflow: hidden;
    }

    .op-5.products-and-promotions .product-card .product-card__info .responsive-media picture,
    .op-5.products-and-promotions .product-card .product-card__info .responsive-media picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .op-5.products-and-promotions .product-card .product-card__info .product-card__content {
        grid-row: 2/3;
        grid-column: var(--promo-card-2);
        padding: var(--agt-spacing-32);
        padding-bottom: var(--agt-spacing-16);
    }

    .op-5.products-and-promotions .product-card .product-card__info .button-container {
        grid-row: 3/4;
        grid-column: var(--promo-card-2);
        padding: 0 var(--agt-spacing-32) var(--agt-spacing-32);
    }

    .product-card__info .button-container span.icon-right-arrow {
        display: block;
    }

    .op-5.products-and-promotions .feature-card {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .op-5.products-and-promotions .promo-card-wrapper {
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
        grid-template-columns: subgrid;
        grid-template-rows: 1fr 1fr;
    }

    .op-5.products-and-promotions .promo-card-wrapper .promo-card:nth-child(1) {
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
    }

    .op-5.products-and-promotions .promo-card-wrapper .promo-card:nth-child(2) {
        grid-row: 2/3;
        grid-column: 2/3;
    }
}

@media (width > 1024px) {
    .page-china .products-and-promotions,
    .page-china .op-2.products-and-promotions {
        grid-template-columns: repeat(4, 1fr);
    }

    .page-china .products-and-promotions,
    .page-china .products-and-promotions:not(.op-5) {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(4, 1fr);
        gap: var(--agt-spacing-20);
    }

    .page-china .products-and-promotions .product-card {
        grid-row: var(--promo-card-2);
        grid-column: 1/3;
        min-height: 17.5rem;
        direction: rtl;
    }

    .page-china .op-2.products-and-promotions .product-card {
        grid-row: var(--promo-card-2);
        grid-column: 1/3;
        min-height: 17.5rem;
        direction: rtl;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .page-china .product-card .product-card__info,
    .page-china .products-and-promotions:not(.op-5) .product-card__info {
        grid-row: var(--promo-card-2);
        grid-column: 1/3;
        padding: 0;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        height: 100%;
    }

    .page-china .products-and-promotions .product-card .product-card__info {
        direction: ltr;
        grid-template-columns: 1fr 1fr;
    }

    .page-china .products-and-promotions:not(.op-5) .product-card__info {
        height: 100%;
        overflow: visible;
    }

    .page-china .products-and-promotions .product-card .product-card__info .responsive-media {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
        overflow: hidden;
    }

    .page-china .promo-card p:has(picture) img {
        width: auto;
        max-width: 100%;
    }

    .page-china .op-2 .promo-card p:has(picture) a picture,
    .page-china .op-3 .promo-card p:has(picture) a picture,
    .page-china .op-4 .promo-card p:has(picture) a picture {
        width: 100%;
        height: 100%;
        display: block;
    }

    .page-china .op-2 .promo-card p:has(picture) img,
    .page-china .op-3 .promo-card p:has(picture) img,
    .page-china .op-4 .promo-card p:has(picture) img {
        width: 100%;
        height: 100%;
    }

    .page-china .products-and-promotions .product-card .product-card__info .responsive-media picture,
    .page-china .products-and-promotions .product-card .product-card__info .responsive-media picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .page-china .products-and-promotions .product-card .product-card__info > div:not(.responsive-media) {
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
        padding: var(--agt-spacing-32);
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .page-china .products-and-promotions .feature-card {
        grid-row: var(--promo-card-2);
        grid-column: 3/5;
    }

    .page-china .products-and-promotions .promo-card-wrapper {
        grid-row: 2/3;
        grid-column: 1/5;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--agt-spacing-20);
    }

    .promo-card .button-container a {
        width: unset;
    }

    .page-china .products-and-promotions
        .product-card
        .product-card__info
        .button-container
        a {
        background-color: var(--agt-color-base-white);
        color: var(--agt-color-brand-blue-1600);
        padding: var(--agt-spacing-xl-px) var(--agt-spacing-2xl-px);
        border-radius: 3px;
    }

    .page-china .promo-card {
        grid-template-columns: 150px 1fr;
        padding: 5%;
        display: grid;
        grid-template-rows: var(--promo-card-row);
        gap: var(--agt-spacing-22);
        row-gap: var(--agt-spacing-12);
    }

    .page-china .promo-card.icon-ivd {
        grid-template-rows: var(--promo-card-row-ivd);
    }

    .page-china .promo-card.promo-card--view-more {
        display: none;
    }

    .page-china .promo-card .button-container {
        place-self: flex-start;
    }

    .page-china .product-card__info .button-container span.icon-right-arrow-white {
        display: none;
    }

    .page-china .promo-card p:has(picture) {
        text-align: center;
    }

    .page-china .promo-card p:nth-child(1) {
        grid-row: 1/3;
        grid-column: var(--promo-card-2);
    }

    .page-china .promo-card p:nth-child(2) {
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
        font-size: var(--agt-font-size-16);
    }

    .page-china .promo-card p:nth-child(3) {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .page-china .products-and-promotions .promo-card-wrapper .promo-card:nth-child(1) {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
    }

    .page-china .products-and-promotions .promo-card-wrapper .promo-card:nth-child(2) {
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
    }

    .page-china .products-and-promotions .promo-card-wrapper .promo-card:nth-child(3) {
        grid-row: var(--promo-card-2);
        grid-column: 3/4;
    }

    .page-china .products-and-promotions .product-card .product-card__info .product-card__content {
        align-self: start;
        padding-top: var(--agt-spacing-32);
        flex: 1;
    }

    .page-china .products-and-promotions .product-card .product-card__info .button-container {
        margin-top: auto;
        align-self: end;
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
        padding: 0 var(--agt-spacing-32) var(--agt-spacing-32);
    }

    .page-china .op-2.products-and-promotions .promo-card-wrapper .promo-card:nth-child(1) {
        grid-row: var(--promo-card-2);
        grid-column: var(--promo-card-2);
    }

    .page-china .op-2.products-and-promotions .promo-card-wrapper .promo-card:nth-child(2) {
        grid-row: var(--promo-card-2);
        grid-column: 2/3;
    }

    .page-china .op-2.products-and-promotions .promo-card-wrapper .promo-card:nth-child(3) {
        grid-row: var(--promo-card-2);
        grid-column: 3/4;
    }
}

@media (width >= 1400px) {
    .page-china .promo-card {
        grid-template-columns: 207px 1fr;
    }

    .page-china .promo-card p:nth-child(2) {
        font-size: var(--agt-font-size-18);
    }
}
