.rfq-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  z-index: 9998;
}

.rfq-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 95%;
  max-width: 1350px;
  height: 90vh;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 9999;
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.rfq-modal[hidden],
.rfq-modal-overlay[hidden] {
  display: none;
}

.rfq-modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rfq-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.rfq-modal-title {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  text-align: left;
  color: #303030;
}

.rfq-modal-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 1;
  color: #000;
}

.rfq-modal-body {
  flex: 1;
  overflow-y: auto;
  padding: 0;
}

.rfq-modal-body iframe {
  width: 100%;
  height: 100%;
  border: none;
}