.hero {
    --hero-text-transition: transform 500ms cubic-bezier(0.25, 1, 0.5, 1);
    --hero-size: 524px;
    --heading-font: var(--agt-typography-heading-md-light);
    --paragraph-font: var(--agt-typography-body-md-regular);
    --min-button-width: 207px;

    min-height: var(--hero-size);
    overflow: hidden;
    display: flex;
    min-width: 100%;
}

.hero--china {
    --min-button-width: 100px;
}

.hero__container {
    position: relative;
    min-height: 100%;
    width: 100%;
}

.hero__slides {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.hero__slide {
    --hero-slide-background: linear-gradient(180deg, #fbfcff 0%, #eaedf5 70%);

    min-width: 100%;
    width: 100%;
    position: relative;
    height: var(--hero-size);
    display: none;
    background: var(--hero-slide-background);
    cursor: pointer;
}

.hero__actions {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: var(--agt-spacing-3xl);
    width: fit-content;
    justify-self: center;
    align-items: stretch;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 400ms ease-out, transform 400ms ease-out;
    transition-delay: 250ms;
}

.hero__slide--animation-start .hero__actions {
    width: 100%;
    opacity: 1;
    transform: translateY(0);
}

.hero__actions .agt-button {
    font-size: var(--agt-font-size-16);
    line-height: 22px;
    min-height: 52px;
    padding: calc(var(--agt-spacing-xl) - 2px) var(--agt-spacing-sm);
}

.hero__slide.dark {
    --hero-slide-background: linear-gradient(180deg, #4f6d8e 0%, #092c50 70%);
}

.hero__slide.light {
    --hero-slide-background: linear-gradient(180deg, #fdffff 0%, #ecf7f7 70%);
}

@media screen and (width >= 768px) {
    .hero {
        --min-button-width: 244px;
    }

    .hero.hero--china {
        --min-button-width: 220px;
    }

    .hero__slide {
        --hero-slide-background: linear-gradient(
            270deg,
            #fbfcff 0%,
            #eaedf5 57.69%
        );
    }

    .hero__slide.dark {
        --hero-slide-background: linear-gradient(
            270deg,
            #4f6d8e 33.36%,
            #092c50 80.01%
        );
    }

    .hero__slide.light {
        --hero-slide-background: linear-gradient(
            270deg,
            #fdffff 0%,
            #ecf7f7 57.69%
        );
    }
}

@media screen and (width >= 1440px) {
    .hero__slide {
        --hero-slide-background: linear-gradient(
            270deg,
            #fbfcff 0%,
            #eaedf5 57.69%
        );
    }

    .hero__slide.dark {
        --hero-slide-background: linear-gradient(
            270deg,
            #4f6d8e 0%,
            #092c50 70%
        );
    }

    .hero__slide.light {
        --hero-slide-background: linear-gradient(
            270deg,
            #fdffff 33.36%,
            #ecf7f7 80.01%
        );
    }
}

.hero__slide--active {
    display: flex;
}

.hero__slide-media {
    display: flex;
    height: var(--hero-size);
    width: 100%;
    align-items: stretch;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.hero__slide-media > * {
    opacity: 0;
    transform: translate(50px, -50px);
    transition: opacity 400ms ease-out, transform 400ms ease-out;
}

.hero__slide-media > *,
.hero__slide-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero__slide--animation-start .hero__slide-media > * {
    opacity: 1;
    transform: translate(0, 0);
}

.hero__slide-content {
    z-index: 1;
    position: relative;
    height: 100%;
    align-content: flex-end;
    padding: var(--agt-spacing-8xl) var(--agt-spacing-5xl) 76px;
    width: 100%;
}

.hero__slide-heading {
    transition: var(--hero-text-transition);
    transition-delay: 100ms;
    font: var(--heading-font);
    font-size: var(--agt-font-size-36);
    padding-right: 22px;
    margin-bottom: var(--agt-spacing-2xl);
}

.hero--china .hero__slide-heading {
    font-size: var(--agt-font-size-28);
    margin-bottom: var(--agt-spacing-2xs);
}

.hero--china .content-center .hero__slide-heading {
    display: flex;
    justify-content: center;
}

.hero--china .content-right .hero__slide-heading {
    display: flex;
    justify-content: end;
}

.hero__slide-text {
    transition: var(--hero-text-transition);
    transition-delay: 200ms;
    font: var(--paragraph-font);
}

.hero__slide-text a {
    font: var(--paragraph-font);
}

.hero__slide-text:has(+ .hero__actions) {
    margin-bottom: var(--agt-spacing-5xl);
}

.hero--china .hero__slide-text:has(+ .hero__actions) {
    margin-bottom: var(--agt-spacing-sm);
}

.hero__slide-link {
    min-width: var(--min-button-width);
}

.hero__slide.dark .hero__slide-heading,
.hero__slide.dark .hero__slide-text {
    color: var(--agt-color-base-white);
}

.hero__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--agt-spacing-2xs);
    background-color: var(--agt-background-bg-base-white);
    width: auto;
    position: absolute;
    bottom: var(--agt-spacing-3xl);
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
}

.hero__navigation-button {
    background-color: transparent;
    color: var(--agt-text-icons-tx-brand-main);
    border-radius: 0;
    padding: var(--agt-spacing-md);

    &:hover {
        background-color: var(--agt-background-bg-brand-hover);
        color: var(--agt-text-icons-tx-on-color);
    }

    &:active {
        background-color: #ddeff9;
        color: var(--agt-text-icons-tx-brand-main);
    }

    &:disabled {
        background-color: var(--agt-background-bg-base-white);
        color: var(--agt-text-icons-tx-disabled);
    }
}

.hero__navigation-button:hover .icon.icon-chevron-right {
    color: var(--agt-text-icons-tx-on-color);
}

.hero__navigation-button .icon {
    display: flex;
}

.hero__navigation-indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--agt-spacing-2xs);
}

.hero__navigation-indicator {
    height: 2px;
    width: 30px;
    border-radius: 10px;
    background-color: var(--agt-background-bg-base-dark);
    padding: 0;
    position: relative;

    &[aria-current="true"] {
        background-color: var(--agt-background-bg-brand-main);
    }

    &::after {
        content: "";
        display: block;
        height: 40px;
        width: 100%;
    }

    &:focus-visible {
        box-shadow: 0 0 0 2px var(--agt-stroke-str-brand-alt-light);
    }
}

.hero__animation-wrapper {
    overflow: hidden;
}

.hero__animation-el {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    transition: var(--hero-text-transition);
}

.hero__slide-heading .hero__animation-el {
    display: flex;
    flex-direction: column;
    gap: var(--agt-spacing-md);
}

.hero__slide--animation-start .hero__animation-el {
    opacity: 1;
    transform: translateY(0);
}

.hero__slide.content-center {
    justify-content: center;
}

.hero__slide.content-center .hero__slide-content {
    text-align: center;
}

.hero__slide.content-center .hero__slide-content .hero__actions {
    justify-content: center;
}

.hero__slide.content-right {
    justify-content: right;
}

.hero--china .hero__slide.content-right {
    text-align: right;
}

.hero--china .hero__slide.content-right .hero__actions {
    justify-content: end;
}

@media screen and (width >= 768px) {
    .hero {
        --hero-size: 616px;
        --heading-font: var(--agt-typography-heading-2xl-light);
        --paragraph-font: var(--agt-typography-heading-xs-regular);
    }

    .hero--china {
        --hero-size: 450px;
    }

    .hero--china .hero__animation-el {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .hero__slide {
        height: 100%;
    }

    .hero__slide-content {
        padding-bottom: 68px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
    }

    .hero__slide-media {
        min-height: 100%;
    }

    .hero__slide-heading {
        font-size: var(--agt-font-size-52);
        line-height: 120%;
        padding: 0;
        max-width: 482px;
        margin-bottom: 44px;
    }

    .hero--china .hero__slide-heading {
        font-size: var(--agt-font-size-48);
        margin-bottom: var(--agt-spacing-xl);
    }

    .hero__slide-text {
        font-size: var(--agt-font-size-24);
        line-height: 150%;
        max-width: 482px;
    }

    .hero__slide-text:has(+ .hero__actions) {
        margin-bottom: 44px;
    }

    .hero--china .hero__slide-text:has(+ .hero__actions) {
        margin-bottom: var(--agt-spacing-xl);
    }

    .hero--china .hero__animation-wrapper {
        color: var(--agt-color-base-black);
    }

    .hero__actions {
        flex-direction: row;
        justify-content: flex-start;
        justify-self: flex-start;
        gap: var(--agt-spacing-2xl);
    }
}

@media screen and (width > 1024px) {
    .hero--china {
        --hero-size: 500px;
    }

    .hero__slide-content {
        padding-inline: var(--agt-spacing-9xl);
    }

    .hero__slide-heading {
        font-size: var(--agt-font-size-64);
        line-height: 120%;
        max-width: 586px;
    }
    
    .hero--china .hero__slide-heading {
        font-size: var(--agt-font-size-64);
    }

    .hero__slide-text {
        max-width: 586px;
    }

    .hero--china .hero__slide-text:has(+ .hero__actions),
    .hero--china .hero__slide-heading {
        margin-bottom: var(--agt-spacing-3xl);
    }

    .hero__actions {
        gap: var(--agt-spacing-3xl);
    }
}

@media screen and (width >= 1668px) {
    .hero__slide-content {
        transform: translateX(calc((100vw - 1550px) / 2));
    }

    .hero__slide.content-right .hero__slide-content {
        transform: translateX(calc((100vw - 1550px) / -2));
    }

    .hero__slide.content-center .hero__slide-content {
        transform: unset;
    }
}

@media screen and (width < 768px) {
    .hero--china .hero__actions .agt-button {
        font-size: var(--agt-font-size-14);
        min-height: 36px;
        padding: calc(var(--agt-spacing-sm) - 1px) var(--agt-spacing-xl);
    }
}
