.idle-timer__popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  max-height: 100%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  background: var(--agt-color-base-white);
  box-shadow: var(--agt-stroke-str-brand-alt-light);
  min-width: var(--agt-min-max-system-320px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--agt-color-grey-400);
  padding: var(--agt-spacing-0) var(--agt-spacing-2xl-px);
}

.idle-timer__title {
  padding-top: var(--agt-spacing-24);
  padding-bottom: var(--agt-spacing-24);
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: var(--agt-spacing-5xl-px);
  font-weight: var(--agt-minmax-400);
  line-height: var(--agt-spacing-6xl-px);
  text-align: center;
  color: var(--agt-background-bg-base-black);
}

.idle-timer__content {
  padding-top:  var(--agt-spacing-16);
  padding-bottom: var(--agt-spacing-16);
  text-align: center;
  font-weight: var(--agt-minmax-400);
  width: 100%;
  font-size: var(--agt-spacing-xl-px);
  line-height: var(--agt-spacing-3xl-px);
  color: var(--agt-color-grey-1600);
}

.idle-timer__buttons {
  display: flex;
  flex-direction: column;
  gap: var(--agt-spacing-16);
  justify-content: center;
  padding-bottom: var(--agt-spacing-24);
  width: 100%;
}

.idle-timer__note {
  padding-top: var(--agt-spacing-24);
  padding-bottom: var(--agt-spacing-24);
  text-align: center;
  font-weight: var(--agt-minmax-400);
  font-size: var(--agt-spacing-xl-px);
  line-height: var(--agt-spacing-3xl-px);
  width: 100%;
  color: var(--agt-stroke-str-base-primary);
  background: var(--agt-color-grey-200);
}

.idle-timer__countdown {
  display: inline-block;
  font-weight: var(--agt-minmax-320);
  width: 100%;
  font-size: var(--agt-spacing-52);
  color: var(--agt-background-bg-base-black);
  letter-spacing: -1px;
  vertical-align:bottom;
  line-height: var(--agt-spacing-60);
  text-align: center;
}

@media (width >= 1440px) {
  .idle-timer__popup {
    width: var(--agt-min-max-system-800px);
    padding: var(--agt-spacing-0);
  }

  .idle-timer__buttons {
    display: flex;
    flex-direction: row;
  }

  .idle-timer__resume-session{
    min-width: var(--agt-min-max-system-240px);
    padding: var(--agt-spacing-xl) var(--agt-spacing-2xl-px);
  }

  .idle-timer__logout {
    min-width: 12.5rem;
    padding: var(--agt-spacing-xl) var(--agt-spacing-2xl-px);
  }
}

@media (width >= 768px) {
  .idle-timer__popup {
    width: var(--agt-min-max-system-720px);
    padding: var(--agt-spacing-0);
  }

  .idle-timer__buttons {
    display: flex;
    flex-direction: row;
  }

  .idle-timer__resume-session{
    min-width: var(--agt-min-max-system-240px);
    padding: var(--agt-spacing-xl) var(--agt-spacing-2xl-px);
  }

  .idle-timer__logout {
    min-width: 12.5rem;
    padding: var(--agt-spacing-xl) var(--agt-spacing-2xl-px);
  }
}