.compendiumcard.eventcard .event-meta {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: var(--agt-spacing-8);
  margin: 0 0 var(--agt-spacing-lg-px);
  color: var(--agt-utility-navy-grey-1100);
}

.compendiumcard.eventcard .event-meta .pair {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--agt-spacing-4);
}

.compendiumcard.eventcard .event-meta .k {
  font-weight: var(--agt-font-weight-medium);
  color: var(--agt-color-grey-1200);
  font-size: var(--agt-font-size-16);
  line-height: var(--agt-line-height-22);
}

.compendiumcard.eventcard .event-meta .v {
  font-weight: var(--agt-font-weight-bold);
  color: var(--agt-color-brand-blue-1900);
  font-size: var(--agt-font-size-16);
  line-height: var(--agt-line-height-22);
}

.compendiumcard.eventcard .event-meta .sep {
  width: 1px;
  background: var(--agt-utility-grey-700);
  margin: 0 var(--agt-spacing-12);
  opacity: .8;
  align-self: stretch;
}

@media screen and (width >= 768px) {
  .compendiumcard.eventcard .event-meta {
    gap: var(--agt-spacing-20);
  }
}

.compendiumcard.eventcard .pub-subtitle {
  margin-top: var(--agt-spacing-16);
  margin-bottom: var(--agt-spacing-2xl-px);
}