.back-to-top.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(100%);
}

.back-to-top {
    position: fixed;
    z-index: 10;
    bottom: var(--agt-spacing-24);
    right: var(--agt-spacing-6);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--agt-background-bg-base-white);
    border: 1px solid var(--agt-color-brand-blue-1600);
    border-radius: 100%;
}

.back-to-top,
.back-to-top__link {
    width: var(--agt-spacing-52);
    height: var(--agt-spacing-52);
}

.back-to-top:empty {
    display: none;
}

.back-to-top__link {
    background: none;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    color: transparent;
}

.back-to-top__link:hover,
.back-to-top__link:hover:not(:disabled) {
    background: none;
    color: transparent;
    text-decoration: none;
    border: none;
}

.back-to-top__link .icon {
    width: var(--agt-spacing-24);
    height: var(--agt-spacing-24);
    color: var(--primary-color);
}