.search-results__pagination.block:not(:empty) {
    padding: var(--agt-spacing-2xl) var(--agt-spacing-none);
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--agt-spacing-12);
}

.pagination__item--list,
.pagination__item--number {
    display: flex;
    align-items: center;
    gap: var(--agt-spacing-3xs);
}

.pagination__item--list button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--agt-font-family-roboto);
    font-size: var(--agt-font-size-16);
    line-height: var(--agt-line-height-22);
    font-weight: var(--agt-font-weight-medium);
    padding: var(--agt-spacing-md) var(--agt-spacing-xl);
    border-radius: var(--agt-roundness-main);
}

.pagination__item button.pagination__button.pagination__button--prev.agt-link,
.pagination__item button.pagination__button.pagination__button--next.agt-link {
    padding: var(--agt-spacing-lg);
}

.pagination__item button.pagination__button.agt-link span.icon{
    width: 18px;
    height: 18px;
}

.pagination__item button.pagination__button.agt-button.agt-button--primary {
    border: 2px solid transparent;
    border-radius: var(--agt-roundness-main);
    box-shadow: unset;
    background-color: var(--agt-color-brand-blue-1400);
}

.pagination__item button.pagination__button.agt-button.agt-button--primary:focus-visible{
    border: 2px solid var(--agt-color-base-black);
}

.pagination__item button.pagination__button.agt-button.agt-button--primary:hover {
    background-color: var(--agt-color-brand-blue-1400);
}

.pagination__item--list button.pagination__button.agt-link:focus-visible {
    box-shadow: unset;
    border: 2px solid var(--agt-color-base-black);
}

.pagination__item--list button.pagination__button.agt-link:hover {
    text-decoration: none;
    color: var(--agt-color-base-white);
    background-color: var(--agt-color-brand-blue-1100);
    border-radius: var(--agt-roundness-main);
}

.pagination__info {
    font-size: var(--agt-font-size-16);
    line-height: var(--agt-line-height-22);
    color: var(--agt-color-grey-2000);
}
