.footer-wrapper {
  --footer-text-line-height: 1.4;
  --footer-info-font-size: 1rem;
  --footer-background-color: #202020;
  --footer-text-color: #b2b2b2;
  --footer-address-font-size: 0.85rem;
  --footer-info-spacing-bottom: 1rem;
  --footer-info-spacing-left: 4rem;
  --footer-bottom-link-font-size: 0.75rem;
  --footer-logo-height: 3.1875rem;
  --footer-info-icon-left: -2.3125rem;
  --footer-info-icon-top: 0.25rem;

  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  line-height: 1.1;
  font-weight: 500;
}

.footer > div {
  padding-inline: 0.625rem;
}

.footer .section,
.footer .section .columns-wrapper {
  padding: 0;
}

.footer .section.columns-container {
    flex-direction: row;
}


.footer a {
  color: var(--footer-text-color, #b2b2b2);
  border: none; /* prevent style creeping from design system */
  padding: 0;
  font: unset;
}

.footer p {
  margin: 0;
}

.footer .columns-container {
  margin-bottom: 0;
}

.footer__links {
  display: none;
}

.footer .section:nth-child(2) {
  margin: 0;
}

.footer .footer__info {
  font-size: var(--footer-info-font-size);
  padding: 0;
}

.footer__info a {
  display: block;
  color: var(--agt-background-bg-brand, #06c);
  font-weight: 300;
}

.footer .footer__bottom {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.footer__bottom-links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
  justify-content: center;
  align-items: center;
  font-size: var(--footer-bottom-link-font-size);
  margin-bottom: var(--footer-info-spacing-bottom);
}

.footer__bottom-links li {
  display: flex;
  align-items: center;
  border-right: 1px solid var(--footer-text-color);
  padding-right: 0.3125rem;
  flex: 0 1 auto;
  text-align: center;
}

.footer__bottom-links a {
  font-size: var(--footer-bottom-link-font-size);
  font-weight: 300;
}

.footer__bottom-links li:last-child {
  border-right: none;
}

.footer__logo {
  margin: 1.25rem 0.625rem;
  width: auto;
  height: var(--footer-logo-height);
}

.footer__address {
  position: relative;
  font-style: italic;
  font-size: var(--footer-address-font-size);
  font-weight: 300;
  margin-bottom: var(--footer-info-spacing-bottom);
}

.footer__address::before {
  position: absolute;
  top: 0.375rem;
  left: var(--footer-info-icon-left);
  display: block;
  content: "";
  background: url('../../icons/footer/footer_icon_location.webp') no-repeat;
  width: 1.125rem;
  height: 1.5rem;
}

.footer__address p {
  line-height: var(--footer-text-line-height);
}

.footer__address a {
  display: inline;
  font-size: var(--footer-info-font-size);
}

.footer__email,
.footer__phone {
  margin-bottom: var(--footer-info-spacing-bottom);
}

.footer__email a,
.footer__phone a {
  position: relative;
}

.footer__phone a[href^="tel:"] {
  color: var(--footer-text-color);
}

.footer__email p > a,
.footer__phone p > a,
.footer__info address {
  margin-left: var(--footer-info-spacing-left);
}

.footer__email a::before,
.footer__phone a:first-child::before {
  position: absolute;
  top: var(--footer-info-icon-top);
  left: var(--footer-info-icon-left);
  display: block;
  content: "";
  background: url('../../icons/footer/footer_icon_email.webp') no-repeat;
  width: 1.125rem;
  height: 0.8125rem;
}

.footer__phone a:first-child::before {
  background: url('../../icons/footer/footer_icon_phone.webp') no-repeat;
  height: 1.0625rem;
}

.footer__legal {
  font-size: var(--footer-info-font-size);
  text-align: center;
}

.footer__social-bar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }

.footer__social-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--agt-background-bg-brand, #009cde);
  height: 80px;
  color: #fff;
  font-weight: bold;

  .default-content-wrapper {
    padding-block: 0;
    height: 100%;

    ul {
        height: 100%;
    }

    a {
        padding: 0;
        border: 0;
    }
  }
}

.footer__social-bar div {
  flex-basis: 100%;
}

.footer__social-bar li:first-child {
  display: none;
}

.footer__social-bar ul li img{
  vertical-align: bottom;
}

.footer__social-bar .icon {
  height: 40px;
  width: auto;
}

.footer a:hover {
  text-decoration: none;
}

.page-china .footer__bottom-links li {
  flex: 0 1 auto;
}

.page-china .footer__bottom-links a {
  word-wrap: break-word;
}

@media screen and (width > 1024px) {
  .footer-wrapper {
    --footer-bottom-link-font-size: 0.6875rem;
    --footer-info-spacing-bottom: 0.875rem;
    --footer-info-font-size: 0.75rem;
    --footer-logo-height: 3.3125rem;
    --footer-info-icon-left: -2.875rem;
    --footer-info-icon-top: 0.125rem;
  }

  .footer {
    margin-inline: auto;
    max-width: var(--desktop-max-width);
  }

  .section.footer__social-bar {
    padding: 0;
  }

  .footer__social-bar > div {
    padding: 0 var(--agt-spacing-64);
    width: 100%;
    max-width: var(--desktop-max-width);
    margin-inline: auto;
  }

  .footer > div {
    padding: 1.875rem  var(--agt-spacing-64);
  }

  .footer .columns-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.75rem;
  }

  .footer__logo {
    margin: 0;
    margin-bottom: 1rem;
  }

  .footer__links {
    display: unset;
    text-transform: uppercase;
    flex-grow: 1;
  }

  .footer__links a {
    color: #fff;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: none;
  }

  .footer__links h1,
  .footer__links h2,
  .footer__links h3,
  .footer__links h4 {
    font-size: 0.875rem;
    font-weight: 500;
    display: inline-block;
    line-height: 1.25rem;
    margin-bottom: var(--agt-spacing-20);
    padding-bottom: var(--agt-spacing-6);
    border-bottom: 1px solid #ccc;
  }
  
  .footer__address,
  .footer__info a {
    font-size: var(--footer-info-font-size);
    font-style: normal;
    font-weight: 500;
  }

  .footer__links a:hover {
    color: #fff;
  }

  .footer .footer__info {
    padding-left: 1.75rem;
    border-left: 0.125rem dotted #808080;
    width: 17.8125rem;
  }

  .footer .footer__bottom {
    display: flex;
    margin-top: 2.5rem;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .footer__bottom-links {
    gap: 0.3125rem;
    margin: 0;
    justify-content: flex-start;
    max-width: calc(100% - 305px);
  }

  .footer__bottom-links ul {
    height: 64px;
  }

  .footer__bottom .footer__bottom-links a {
    font-weight: 400;
  }

  .footer__bottom-links a:hover {
    color: var(--footer-text-color, #b2b2b2);
  }

  .footer__legal {
    width: 350px;
    text-align: right;
  }

  .footer__social-bar {
    height: 64px;
  }

  .footer__social-bar div {
    flex-basis: auto;
  }

  .footer__social-bar li:first-child {
    display: unset;
  }

  .footer__social-bar  ul {
    justify-content: flex-start;
    gap: 10px;
  }

  .footer .columns > div > div {
    max-width: 155px;
  }

  .page-china .footer .columns > div > div {
    width: 12.125rem;
  }

  .page-china .footer__bottom-links li {
    flex: 0 0 auto;
  }

  .page-china .footer__bottom-links a {
    word-wrap: unset;
    flex-direction: row;
  }
}