.hotspot-banner {
    --hotspot-container-padding: var(--agt-spacing-24) var(--agt-spacing-32);
    --hotspot-description-title-bottom: var(--agt-spacing-24);
    --hotspot-description-content-spacing: var(--agt-spacing-24);
    --hotspot-description-actions-spacing: var(--agt-spacing-24);
    --hotspot-actions-direction: column;
}

.hotspot-banner-container {
    padding: 0;
}

.hotspot-banner__background {
    display: none;
}

.hotspot-banner__description {
    padding: var(--hotspot-container-padding);
    background-color: #fff;
}

.hotspot-banner__description .icon-label {
    margin-bottom: var(--agt-spacing-12);
}

.hotspot-banner__description-title {
    margin-bottom: var(--hotspot-description-title-bottom);
}

.hotspot-banner__description-content {
    display: flex;
    flex-direction: column;
    gap: var(--hotspot-description-content-spacing);
}

.hotspot-banner__actions {
    display: flex;
    flex-direction: var(--hotspot-actions-direction);
    gap: var(--hotspot-description-actions-spacing);
    align-items: center;
    justify-content: center;
}

.hotspot-banner__hotspot-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.hotspot-banner__product-wrapper {
    position: relative;
    width: fit-content;
}

.hotspot-banner__hotspot-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hotspot-banner__hotspot-inner,
.hotspot-banner__hotspot-inner a {
    font-size: var(--agt-font-size-16);
    line-height: var(--agt-line-height-22);
}

.hotspot-banner__hotspot-inner:has(.carousel) {
    position: relative;
    padding-bottom: var(--agt-spacing-80);
}

.hotspot-banner__hotspot-cards.carousel {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel .hotspot-banner__hotspot-card {
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.carousel + .hotspot-banner__pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: var(--agt-spacing-16);
    display: flex;
    justify-content: center;
    gap: var(--agt-spacing-8);
}

.carousel + .hotspot-banner__pagination .hotspot-banner__pagination-item {
    display: flex;
    gap: var(--agt-spacing-8);
    width: var(--agt-spacing-10);
    height: var(--agt-spacing-10);
    padding: 0;
    border-radius: 50%;
    background-color: var(--agt-background-bg-base-secondary);
    cursor: pointer;
    transition: background-color 0.1s;
}

.carousel + .hotspot-banner__pagination .hotspot-banner__pagination-item.active {
    background-color: var(--agt-background-bg-brand);
}

.hotspot-banner__card-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--agt-text-icons-tx-base-alt);
    padding-inline: var(--agt-spacing-24);
}

.hotspot-banner__card-previous,
.hotspot-banner__card-next {
    width: 44px;
    height: 44px;
    flex-grow: 0;
    flex-shrink: 0;
}

.hotspot-banner__card-title {
    flex-grow: 1;
    text-align: center;
    padding: var(--agt-spacing-16) var(--agt-spacing-12);
    font-weight: var(--agt-font-weight-medium);
}

.hotspot-banner__card-title .highlight {
    color: var(--agt-text-icons-tx-brand-main);
}

.hotspot-banner__card {
    display: flex;
    flex-direction: column;
}

.hotspot-banner__card * {
    overflow-wrap: break-word;
}

.hotspot-banner__card-description {
    font-size: var(--agt-font-size-16);
    line-height: var(--agt-line-height-22);
}

.hotspot-banner__card-media {
    position: relative;
}

.hotspot-banner__card-media > a {
    display: block;
    padding: 0;
    border: 0;
}

.hotspot-banner__card-media img {
    width: 100%;
}

.hotspot-banner__card-media .play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44px;
    height: 44px;
    transform: translate(-50%, -50%);
}

.hotspot-banner__card-media .play .icon{
    width: 28px;
    height: 23px;
}

.hotspot-banner__card-content {
    padding:  var(--agt-spacing-12) var(--agt-spacing-20);
}

.hotspot-banner .hotspot-banner__marker {
    --bg-marker-ring1-bg: var(--agt-background-bg-warning-hover);
    --bg-marker-ring2-bg: var(--agt-background-bg-warning-main);

    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: #fff;
    padding: 0;
    box-sizing: content-box;
    box-shadow: 0 0 0 6px var(--bg-marker-ring2-bg);
    transition: all 0.3s ease;
}

.hotspot-banner .hotspot-banner__marker svg{
    transition: rotate ease-in 0.3s;
}

.hotspot-banner .hotspot-banner__marker.open {
    --bg-marker-ring2-bg: var(--agt-background-bg-brand-main);
}

.hotspot-banner .hotspot-banner__marker.open svg {
    rotate: 45deg;
}

.hotspot-banner .hotspot-banner__marker:hover {
    background: #fff;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--bg-marker-ring1-bg), 0 0 0 6px var(--bg-marker-ring2-bg);
    }
    
    50% {
        box-shadow: 0 0 0 6px var(--bg-marker-ring1-bg), 0 0 0 12px var(--bg-marker-ring2-bg);
    }
    
    100% {
        box-shadow: 0 0 0 0 var(--bg-marker-ring1-bg), 0 0 0 6px var(--bg-marker-ring2-bg);
    }
}

@media screen and (width >= 768px) {
    .hotspot-banner {
        --hotspot-container-padding: var(--agt-spacing-24) var(--agt-spacing-64) var(--agt-spacing-64) var(--agt-spacing-64);
        --hotspot-description-content-spacing: var(--agt-spacing-32);
        --hotspot-actions-direction: row;
    }

    .hotspot-banner__description-title {
        font-size: var(--agt-font-size-32);
        line-height: var(--agt-line-height-40);
    }

    .hotspot-banner__description-content {
        padding-inline: var(--agt-spacing-32);
    }

    .hotspot-banner__popover {
        position: absolute;
        width: 314px;
        background: var(--agt-background-bg-base-white);
        border-radius: 4px;
        box-shadow: 0 4px 14px 0 rgb(0 0 0 / 25%);
    }

    .hotspot-banner__popover .hotspot-banner__card-nav {
        border-bottom: 0;
        border-top: 1px solid var(--agt-text-icons-tx-base-alt);
    }

    .hotspot-banner__card-media img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        min-height: 148px;
    }
}


@media screen and (width >= 1440px) {
    .hotspot-banner {
        position: relative;
        display: grid;
        grid-template-columns: 0fr 1fr;
        transition: grid-template-columns 300ms ease;
    }

    .hotspot-banner__description-content {
        padding-inline: 0;
    }

    .hotspot-banner__background {
        display: unset;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(255 255 255 / 20%);
        overflow: hidden;
    }

    .hotspot-banner__background img {
        object-fit: contain;
    }

    .hotspot-banner__hotspot-background {
        display: none;
    }

    .hotspot-banner__description {
        width: 50vw;
        min-width: 0;
        opacity: 0;
        transform: translateX(-50vw);
        transition: opacity 300ms ease-in, transform 300ms ease-in;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hotspot-banner__hotspots {
        place-self: center;
        opacity: 0;
        transform: translateX(0);
        transition: opacity 500ms ease, transform 300ms ease;
    }

    .hotspot-banner .hotspot-banner__background-title {
        position: absolute;
        z-index: -1;
        opacity: 0;
        top: 50%;
        left: 50%;
        width: auto;
        transform: translate(-50%, -50%);
        background-color: #fff;
        color: var(--agt-background-bg-brand-main);
        padding: var(--agt-spacing-8) var(--agt-spacing-16);
        font-size: var(--agt-font-size-62);
        line-height: 120%;
    }

    .hotspot-banner__marker {
        opacity: 0;
    }

    .hotspot-banner.animate--done .hotspot-banner__marker {
        opacity: 1;
        animation: unset;
    }

    /* Animation sequence styles */
    .hotspot-banner.animate .hotspot-banner__background-title {
        animation: show-title 3s ease-in-out forwards;
    }

    .hotspot-banner.animate .hotspot-banner__background {
        animation: flash 3s ease-in-out forwards;
    }

    .hotspot-banner.animate .hotspot-banner__hotspots {
        animation: show-hotspots 1s ease-in 3s forwards;
    }

    .hotspot-banner.animate {
        animation: final-layout 300ms ease-in 3.2s forwards;
    }

    .hotspot-banner.animate .hotspot-banner__marker {
        animation: show-marker 1s ease-in-out 4s forwards;
    }

    .hotspot-banner.animate .hotspot-banner__marker:hover {
        animation: pulse 2s infinite;
    }

    .hotspot-banner.animate .hotspot-banner__description {
        animation: slide-in-description 0.7s ease-in 3.2s forwards;
    }

    @keyframes show-title {
        0% { 
            opacity: 0;
            z-index: -1;
        }

        20% {
            z-index: 1;
            opacity: 1;
        }

        100% { 
            opacity: 0;
            z-index: -1;
        }
    }

    @keyframes flash {
        0% { 
            background: rgb(255 255 255 / 20%);
        }

        50% { 
            background: rgb(255 255 255 / 70%);
        }

        100% { 
            background: rgb(255 255 255 / 0%);
        }
    }

    @keyframes show-hotspots {
        0% { 
            opacity: 0;
            transform: translateX(-50vh);
        }

        30% {
            transform: translateX(-50vh);
        }

        100% { 
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes show-marker {
        0% { 
            opacity: 0;
        }

        100% { 
            opacity: 1;
        }

    }

    @keyframes final-layout {
        0% {
            grid-template-columns: 0fr 1fr;
        }

        100% {
            grid-template-columns: 1fr 1fr;
        }
    }

    @keyframes slide-in-description {
        0% {
            opacity: 0;
            transform: translateX(-50vh);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
