.search-results__basics {
  margin: var(--agt-spacing-24) auto auto;

  .query {
    font-family: var(--body-font-family);
    font-size: var(--agt-font-size-36);
    line-height: var(--agt-line-height-42);
    font-weight: var(--agt-font-weight-light);
    color: var(--agt-color-grey-2000);
  }

  .suggest {
    font-family: var(--body-font-family);
    font-size: var(--agt-font-size-16);
    line-height: var(--agt-line-height-22);
    font-weight: var(--agt-font-weight-regular);
    color: var(--agt-color-grey-1600);
    margin-top: 8px;
    
    a {
      padding: 0;
      border: 0;
      font: inherit;
    }
  }
}