.search-promoted {
  >div>div {
    display: flex;
    flex-direction: column;

    @media (width >=768px) {
      flex-direction: row;
    }

    width: 100%;
    background-color: var(--agt-background-bg-base-light-blue);
    border-radius: var(--agt-corner-main);

    .video-tn {
      flex: 1 1 50%;
    }

    p {
      position: relative;
      font-size: var(--agt-typography-body-lg-regular);

      a {
        padding: 0;
        width: 100%;
        height: 100%;
      }

      picture {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      gap: var(--agt-spacing-8);
      padding: var(--agt-spacing-16) var(--agt-spacing-lg-px);

      @media (width >=768px) {
        flex-direction: row;
      }

      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--agt-spacing-2xl-px);
        padding: var(--agt-spacing-2xl-px) var(--agt-spacing-lg-px);
        height: 100%;

        p {
          display: flex;
          align-items: center;
        }

        h3 {
          font: var(--agt-typography-heading-3xs-bold);
        }

        .icon {
          display: inline-flex;
        }
      }

      &.thumbnail {
        flex-direction: column;

        .text-container {
          flex-direction: column;
          padding: var(--agt-spacing-2xl-px) var(--agt-spacing-lg-px);
          width: 100%;
        }

        .button-container {
          display: flex;
          width: 100%;
          padding: var(--agt-spacing-2xl-px) var(--agt-spacing-lg-px);
        }

        @media (width >=768px) {
          .text-container {
            padding: var(--agt-spacing-2xl-px) var(--agt-spacing-9xl-px);
          }

          .button-container {
            padding: var(--agt-spacing-2xl-px) var(--agt-spacing-9xl-px);
          }

        }
      }

      .button-container {
        a {
          white-space: nowrap;
        }
      }
    }
  }
}

.search-promoted.dark-background {
  div>div {
    background-color: var(--agt-color-brand-blue-1600);
    color: var(--agt-color-base-white);
  }

  .play {
    background-color: var(--agt-background-bg-base-white);
    color: var(--agt-color-brand-blue-1600);
  }
}